/* Style of Login and Register pages */
*{
    margin: 0px;
    box-sizing: border-box;

}

.containerLogin{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerLogin > div{
    width: 60%;
}

input{
    width: 100%;
}

form{

    border: 1px solid white;
    background-color: cadetblue;
    width: 100%;
}

.buttons{
    display: flex;
}

.google{
    padding: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.google p{
    text-align: center;
    margin-bottom: .7rem;
}

.google a{
    margin: auto;
}

.google img{
    width: 3rem;
}

@media only screen and (max-width: 600px) {
    form{
        width: 95%;
    }

    .containerLogin > div{
        width: 100%;
    }
    .buttons{
        display: block;
    }

    
}