*{
    margin: 0px;
    box-sizing: border-box;
}

/* h1{
    text-align: center;
    color: cadetblue;
    padding: 1rem;
} */

h2 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

input{
    display: flex;
    margin: 0.5rem auto;
}

#searchBook{
    width: 60%;
    margin: auto;
    display: flex;
}

#searchButton{
    background-color: aquamarine;
    width: 20%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.bookContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.book{

    padding: 1rem;
    border: 1px solid white;
    margin-top: 1rem;
    width: 29%;
    background-color: cadetblue;
    box-shadow: 2px 1px 1px 3px aquamarine;
}

.book img{
    display: flex;
    margin: auto;
}


@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .book{
        width: 95%;

    }

    h2 {
        font-size: 1.2rem;
    }
}
