*{
    margin: 0px;
    box-sizing: border-box;

}

body{
    padding-bottom: 5rem;
}

h1{
    text-align: center;
    color: cadetblue;
    padding: 1rem;
}

h2 {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
}

input{
    display: flex;
    margin: 0.5rem auto;
}

#searchBook{
    width: 60%;
    margin: auto;
    display: flex;
}

#searchButton{
    background-color: aquamarine;
    width: 20%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}

.bookContainer{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: #FFE2C3;
    margin-bottom: 3.8rem;
}

.book{

    background-color: #fff;
    padding: 0.5rem;
    border-radius: 20px;
    width: 20%;
    height: 20rem;
    margin: 0.9rem;
    box-shadow: 1px 1px 10px 0.1px #000;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.book:hover{
    transform: scale(1.1);
}    

.book h3{
    text-align: center;
    font-size: 1.2rem;
    color: #225A76;
}

.book p{
    text-align: center;
    font-size: .9rem;
    color: #444444;
}

.book img{
    display: flex;
    margin: auto;
}

.description{
    padding: 1.2rem;
    width: 80%;
    margin: 2rem auto;
    background-color: #FFE2C3;
    border-radius: 10px;
    text-align: justify;
    box-shadow: 1px 1px 10px 0.1px #000;
}

.publics{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.publics div{
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 10px;
    width: 20%;
    margin: 1rem auto;
    box-shadow: 1px 1px 5px 0.1px #000;
}

.publics h1{
    font-size: .9rem;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .book{
        width: 95%;

    }

    h2 {
        font-size: 1.2rem;
    }

    .description{
        width: 95%;
        margin: 1rem auto;
        font-size: 0.8rem;
    }

    .publics div{
        width: 40%;
    }
}
